.form-field {
  & + .form-field {
    margin-top: 20px;
  }
}

.form-field__error {
  color: #df2d5a;
  font-size: 12px;
  font-weight: 600;
}

.form-field__errors {
  margin-top: 4px;
}

.form-field__input {
  display: block;
  width: 100%;
  height: 40px;
  margin-top: 4px;
  padding: 0 12px;
  border: 1px solid #e9edf9;
  border-radius: 4px;
  color: #11192f;
  font-size: 14px;
}

.form-field__label {
  color: #283143;
  font-size: 12px;
  font-weight: 700;
}
